
body {
    position: absolute;
    top:0px;
    left:0px;
    margin:0 0;
    padding:0 0;
    width: 100vw;
    height: 100vh;

    /*background-color: rgb(77, 179, 238);*/
    background-image: url("../assets/bg.png");

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (min-width: 1000px) {
    .login-container {
        width: 30%;
        height: 30%;
        min-height: 270px;
    }
}

@media only screen and (max-width: 1000px) {
    .login-container {
        width: 30%;
        height: 60%;
        min-height: 350px;
    }
}

.login-container h1 {
    color: var(--login-h1-color);
}

.login-container label {
    color: var(--login-label-color);
    font-size: 14px;
    margin-bottom: 0px;;
}

/*
on invalid {
    display: block;;
}
*/

.login-container h5 {
    display: none;
    color: var(--login-err-color);
    font-size: 15px;
    margin-top:30px;
}

.login-container input {
    width: 100%;
}

.login-container input[type="submit"]:hover {
    background-color: var(--login-submit-btn-hover-color);
    border-color: var(--login-submit-btn-hover-color);
    -webkit-box-shadow: 0px 4px 0px 0px var(--login-submit-btn-shadow-hover-color);
    -moz-box-shadow: 0px 4px 0px 0px var(--login-submit-btn-shadow-hover-color);
    box-shadow: 0px 4px 0px 0px var(--login-submit-btn-shadow-hover-color);

    transition: 0.2s ease-in;
}

.login-container input[type="submit"] {
    font-size: large;
    font-weight: bold;
    text-decoration: none;

    background-color: var(--login-submit-btn-color);
    border: 5px solid var(--login-submit-btn-color);
    -webkit-box-shadow: 0px 4px 0px 0px var(--login-submit-btn-shadow-color);
    -moz-box-shadow: 0px 4px 0px 0px var(--login-submit-btn-shadow-color);
    box-shadow: 0px 4px 0px 0px var(--login-submit-btn-shadow-color);
    border-radius: 5px;;
    color: var(--login-submit-text-color);

    content: "Submit";
    text-align: center;
    float: right;
    width: 85px;
    height: 30px;
    margin: 50px 0;
    transition: 0.3s ease-in;
}

.login-container
{
    margin: auto;
    margin-top:15%;
    background-color: var(--login-container-color);
    border: 35px solid var(--login-container-color);
    border-radius: 25px;;
    -moz-box-shadow: 0px 10px 40px 0px var(--shadow-color);
    -webkit-box-shadow: 0px 10px 40px 0px var(--shadow-color);
    -o-box-shadow: 0px 10px 40px 0px var(--shadow-color);
    box-shadow: 0px 10px 40px 0px var(--shadow-color);
}
